*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
}
.logo{
    padding-top: 1%;
    display: flex;
    gap: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    background: black;
}

.navbar h2{
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 0px 20px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: sticky;
}

.navmenu li{
    display: inline-block;
}

.navmenu li a{
    color: white;
    margin-right: 20px;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 500;
}

.search-box .search{
    padding: 12px 8px;
    border-radius: 50px;
    font-size: 16px;
}

.search-box .search i{
    color: white;
    position: relative;
    right: 50px;
    top: 2px;
    background-color: green;
    padding: 12px;
    border-radius: 50px;
}

header{
    background: whitesmoke;
    width: 100%;
    height: 100vh;
}

.main-header{
    width: 75%;
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.main-header h5{
    font-size: 22px;
    color: green;
    font-weight: 550;
}

.main-header h2{
    font-size: 48px;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.main-header p{
    margin-bottom: 60px;
}

.main-header .btn{
    background: green;
    border: 1px solid green;
    font-size: 24px;
    color: whitesmoke;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all .5s;
}

.main-header .btn:hover{
    color: green;
    background: whitesmoke;
}

.main-header img{
    width: 560px;
    height: auto;
}


/====================================/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .popup-content {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .close-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }




/=================================/

/--categories--/
.cat-header{
    text-align: center;
    padding: 10px 0;
}




section{
    width: 95%;
    margin: auto;
    padding-bottom: 150px;
}

.cat.row{
    display: flex;
}

.cat-header{
    text-align: center;
    
}

.cat-header h2{
    font-size: 38px;
    padding-bottom: 14px;
    text-shadow: 2px 2px greenyellow;
}

.cat-books{
    display: flex;
    flex-direction: row(4,2);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.book-img{
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 1%;
    
}
.books{
    display: grid;
    /grid-template-columns: repeat(auto-fit, minmax(250px,auto));/
    align-items: center;
    position: relative;
    gap: 1rem;
    border: 5px solid greenyellow;
    padding: 5px;
    margin: 5px;
}



/*.cat-books .books{
    width: 360px;
    height: auto;
    padding: 20px 30px;
    position: relative;
}

.cat-books .books .book-img{
    display: grid;
    background-color: whitesmoke;
    padding: 18px;
   //border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    left: 35%;
}*/

/*.cat-books .books img{
    width: 100px;
}*/

.cat-books .books h4{
    margin-top: 16px;
    font-size: 22px;
    position: relative;
    left: 5%;
}

.cat-books .books p{
    font-size: 18px;
    padding-top: 10px;
}

.menubar i{
    color: whitesmoke;
    font-size: 30px;
    padding-right: 20px;
    position: absolute;
    top: 22px;
    right: 40px;
    cursor: pointer;
}
/--about--/
.set-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

.set-row img{
    width: 680px;
    height: auto;
}

#about{
    background: whitesmoke;
    width: 100%;
    padding: 80px 0px;
}

.set-row .about-content{
    padding-left: 30px;
    margin-bottom: 60px;
}

.set-row .about-content h2{
    font-size: 42px;
    padding-bottom: 20px;
}

.set-row .about-content p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 46px;
}

.set-row .about-content .btn2{
    background: green;
    border: 1px solid green;
    font-size: 24px;
    color: whitesmoke;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.5s;
}

.set-row .about-content .btn2:hover{
    background: whitesmoke;
    color: green;
}

/--blog--/
.blog-header{
    text-align: center;
    font-size: 35px;
    padding: 40px 0;
}

.set-row .col{
    padding-top: 20px;
    width: 480px;
    position: relative;
}

.set-row .col h4{
    font-size: 24px;
    padding: 12px 0;
    margin-top: 14px;
}

.set-row .col p{
    font-size: 18px;
    padding-bottom: 12px;
}

.set-row .col a{
    font-size: 20px;
    color: black;
}

.set-row .col a:hover{
    color:green;
}

.set-row .col .dates{
    position: absolute;
    top: 65%;
    left: 5%;
}

.set-row .col .dates span{
    background: black;
    color: whitesmoke;
    padding: 12px 20px ;
    font-size: 20px;
    border-radius: 50px;
}

/--contact--/

#contactus{
    background:whitesmoke;
    width: 100%;
}

.contact-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top: 40px;
}

.contact-row form{
    width: 450px;
    padding: 12px 0;
}

.contact-row form input, textarea{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 6px 0;
    text-indent: 10px;
    font-size: 18px;
    background-color: aliceblue;
}

.contact-row form input::placeholder,
textarea::placeholder{
    color: #000;
}

.contact-row form input[type="submit"]{
    text-align: center;
    height: 50px;
    cursor: pointer;
    background: green;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
}

.contact-row form input[type="submit"]:hover{
    border: 1px solid green;
    color: green;
    background: whitesmoke;
}

.contact-row .col img{
    width: 530px;
    height: auto;
    padding-left: 20px;
}

.contact-row .col h2{
    font-size: 24px;
    font-weight: 600;
}

.footer{
    background: whitesmoke;
    padding: 26px 20px;
    text-align: center;
    font-size: 20px;
}

/--responsive--/
@media(max-width:1420px){
    .set-row{
        display: block;
    }

    .contact-row{
        display: block;
    }
}

@media(max-width:991px){
    .navmenu{
        display: block;
        position: absolute;
        right: 100%;
        top: 10%;
        width: 300px;
        height: auto;
        background: black;
        padding-right: 50%;
    }

    .navmenu li{
        display: block;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 40px;

    }

    .search-box{
        align-items: center;
        margin-left: 40px;
        margin-bottom: 30px;

    }

    .navmenu.open{
        right: 0;
    }

    .cat-books .books .book-img{
        position: relative;
        left: 25%;
    }

    .main-header h2{
        font-size: 35px;
    }

    .main-header p{
        padding-bottom: 20px;
    }

    .set-row{
        display: block;
    }

    .set-row img{
        width: 400px;
        height: auto;
    }

    .set-row .col{
        padding-top: 20px;
        width: 380px;
        position: relative;
    }

    .set-row img{
        width: 480px;
        height: auto;
    }

    .set-row .col{
        width: 420px;
    }

    .set-row .col img{
        width: 100%;
    }

    .set-row .col .dates{
        position: absolute;
        top: 60%;
        left: 5%;
    }

    .contact-row form{
        width: 350px;
    }

    .contact-row .col img{
        width: 430px;
        height: auto;
        padding-left: 0px;
    }
}
/*
@media(max-width:890px){
    .main-header{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 60px 0;
    }

    .main-header h2{
        width:100%;
    }

    .main-header p{
        margin-bottom: 20px;
    }

    .main-header img{
        width: 360px;
        height: auto;
        margin-top: 30px;
    }

    .set-row .about-content h2{
        font-size: 28px;
        padding-bottom: 20px;
    }

    .set-row .about-content p{
        width: 300px;
    }

    .cat-books{
        display: block;
        position: relative;
        left: 0%;
    }

    .cat-books .books .book-img{
        position: relative;
        left: 35%;
    }

    .cat-books .books img{
        width: 100%;
    }

    .set-row .col{
        width: 350px;
    }

    .set-row .col .dates{
        position: absolute;
        top: 25px;
        left: 5%;
    }

    .contact-row .col img{
        width: 320px;
        height: auto;
        padding-left: 0px;
    }

    .contact-row form input{
        height: 20px;
    }
}

@media(max-width:460px){
    section{
        padding-top:80px ;
    }

    .main-header img{
        width: 260px;  
    }

    .cat-books .books{
        width: 260px;
    }

    .cat-books .books .book-img{
        position: relative;
        left: 25%;
    } 

    .set-row img{
        width: 330px;
        height: auto;
    }
}
*/